*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
/src/main/assets/url_local.properties
/src/main/assets/url_server.properties
.externalNativeBuild
