<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cartoon.tinytips" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".util.TinyTipsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".Register.Register">

        </activity>

        <activity android:name=".Login.Login"/>


        <activity android:name=".Note.Addnote.NoteTips.NoteTips"/>
        <activity android:name=".Main.Main" >

        </activity>

        <activity android:name=".Start.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Message.CommentMessage.CommentMessage"/>
        <activity android:name=".Message.FlowingMessage.FlowingMessage"/>
        <activity android:name=".Message.FavoriteMessage.FavoriteMessage"/>
        <activity android:name=".Message.SystemMessage.SystemMessage"/>

        <activity android:name=".Note.Addnote.AddNote"/>
        <activity android:name=".Note.Addnote.Athority.Athority"/>
        <activity android:name=".Note.Details.NoteDetail"/>
        <activity android:name=".Note.RevampNote.RevampNote"/>

        <activity android:name=".Note.Comment.Comment"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name=".Note.ShareNote.ShareNote"/>

        <activity android:name=".Personal.MyNote.MyNote"/>
        <activity android:name=".Personal.Detail.Detail"/>
        <activity android:name=".Personal.Detail.Revamp.RevampInformation"/>
        <activity android:name=".Personal.Collect.Collect"/>
        <activity android:name=".Personal.PersonalHomepage.PersonalHomepage"/>
        <activity android:name=".Personal.Setting.Setting"/>
        <activity android:name=".Personal.Setting.Security.Security"/>
        <activity android:name=".Personal.Setting.Management.Management"/>
        <activity android:name=".Personal.Likes.Likes">

        </activity>

        <activity android:name=".Discover.NoteList.NoteList"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cartoon.tinytips.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public">
            </meta-data>
        </provider>

    </application>

</manifest>